.main {
	
}

.main__leftbar {
	width: 25%;
	height: 100vh;
	float : left;
}

.leftbar__spanbox {
	text-align: center;
	font-size: 110%;
	color : #475579;
}
.leftbar__logobox {
	text-align: center;
}

.main__rightbar {
	width: 75%;
	height: 100vh;
	float: left;
	padding: 1%;
	box-sizing: border-box;
	background-color: #475579;
}

.rightbar_form {
	height: 85%;
	width: 100%;
}

.rightbar__top {
	width: 100%;
	height: 40%;
}

.top__person_info {
	width: 55%;
	height: 100%;
	border: 1px solid;
	border-color: #475579;
	border-radius: 8px;
	background-color: #eeeeee;
	float: left;
	
}

.scrollable {
	overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
	width: 5px;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: #939CE3;
	border: 0px;
	border-radius: 8px; 
}

.rightbar__info_field {
	margin-top: 2%;
	margin-bottom: 2%; 
	color: #172482;
	padding-left: 10%;
	padding-right: 20%;
}

.top__student_info {
	width: 42%;
	height: 100%;
	margin-left: 2%;
	border: 1px solid;
	border-color: #475579;
	border-radius: 8px;
	background-color: #eeeeee;
	float: left;
}

.rightbar__bottom {
	width: 100%;
	height: 45%;
	margin-top: 2%;
}

.bottom__biography {
	width: 100%;
	height: 100%;
	border: 1px solid;
	border-color: #475579;
	border-radius: 8px;
	background-color: #eeeeee;
}

.rightbar__header {
	text-align: center; 
	color: #172482; 
	font-size: 120%;
	padding-top: 1%;
	padding-bottom: 1%;
} 



.rightbar__button_panel {
	width: 100%;
	height: 11%;
	margin-top: 2%;
	box-sizing: border-box;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.button_panel__buttons {
	width: 110px;
	height: 100%;
	border: 0px;
	border-radius: 8px;
	color: #475579;
	float: left;
}

#button_panel__change_save_btn {
	left: 0px;
	display: none;
}

#button_panel__cancel_editing_btn {
	right: 0px;
	display: none;
}

.form__inputs {
	width: 30%;
}